.cartPage_mainContainer {
  padding: 40px;
}

.cartPage_innerContainer {
  width: 90%;
  margin: auto;
}

.cartPage_stepperContainer {
  margin: auto !important;
}

@media only screen and (max-width: 600px) {
  .cartPage_mainContainer {
    padding: 20px;
  }

  .cartPage_innerContainer {
    width: 100%;
    margin: auto;
  }
}
