.header_mainContainer {
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.header_gridContainer {
  align-items: center;
}

.header_logoImage {
  width: 100%;
  object-fit: cover;
  height: 85px;
}

.header_searchContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
}

.header_textField {
  width: 100% !important;
  outline: 0px !important;
}

.header_inputProps {
  padding: 15px 15px !important;
  font-family: var(--fontFamily) !important;
}

.header_input {
  border-radius: 4px !important;
  background: var(--white) !important;
  width: 100% !important;
  color: var(--black) !important;
  font-family: var(--fontFamily) !important;
}

.header_searchIcon {
  color: var(--gray);
}

.header_btnContainer {
  align-items: center;
  justify-content: space-evenly;
}

.header_personText {
  font-family: var(--fontFamily) !important;
  font-size: 16px !important;
  color: var(--black);
  margin: 0px 20px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.header_btnInnerContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0px 20px;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid var(--primary500);
  background-color: var(--primary500);
  cursor: pointer;
}

.header_cartIcon {
  color: var(--white);
  margin-right: 20px;
}

.header_cartText {
  color: var(--white) !important;
  font-size: 16px !important;
  font-family: var(--fontFamily);
}

@media only screen and (max-width: 600px) {
  .header_searchGridContainer {
    display: none;
  }

  .header_loginGridContainer {
    display: none;
  }
}
