.addressModal_modalContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.addressModal_modalSubContainer {
  position: absolute;
  width: 30%;
  height: 70%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--white);
  border-radius: 6px;
  padding: 30px;
  justify-content: center;
}

.addressModal_modalTitleText {
  font-size: 22px !important;
  font-weight: 600 !important;
  text-align: start !important;
  font-family: var(--fontFamily) !important;
}

.addressModal_mapContainer {
  margin: 30px 0px !important;
}
