.login_titleText {
  color: var(--black) !important;
  font-family: var(--fontFamily) !important;
  font-size: 24px !important;
  font-weight: 600 !important;
}

.login_mainText {
  color: var(--primary500) !important;
}

.login_textFieldContainer {
  margin: 20px 0px;
}

.login_BtnContainer {
  margin-top: 30px;
}

.login_logoImgContainer {
  text-align: center;
  margin-bottom: 30px;
}

.login_logoImage {
  width: 300px;
  object-fit: cover;
  height: 85px;
  cursor: pointer;
}

.MuiDrawer-paperAnchorRight {
  padding: 50px !important;
  width: 35% !important;
}

.login_orLineContainer {
  margin: 40px auto;
  font-size: 16px;
  max-width: 135px;
  text-align: center;
  font-family: "Open sans";
  border-bottom: 1px solid var(--border);
  line-height: 0.1em;
}

.login_orTextLabel {
  background: white;
  padding: 0 10px;
  color: var(--black);
}

.login_accountContainer {
  text-align: center;
}

.login_accountTitleTxt {
  font-size: 18px !important;
  font-family: var(--fontFamily) !important;
  color: var(--black) !important;
  white-space: 2px !important;
}

.login_btnText {
  text-decoration: underline !important;
  color: var(--primary500) !important;
  cursor: pointer !important;
}
